body{
         background: transparent;
    }
    .Hotspot {
    background: rgb(255, 255, 255);
    border-radius: 32px;
    border: 0px;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px;
    box-sizing: border-box;
    cursor: pointer;
    height: 25px;
    position: relative;
    transition: opacity 0.3s ease 0s;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    color: #51a8ff;
}
.annotation-wrapper ::slotted(*) {
    pointer-events: initial;
}


.annotation-wrapper ::slotted(*) {
    opacity: var(--max-hotspot-opacity, 1);
    transition: opacity 0.3s;
}

.colum-border{
    border-color: #ccc;
   border-left: 1px solid #ececec;
   font-size: 14px;
    word-wrap: break-word;
}
.HotspotAnnotation {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: Futura, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 700;
    left: calc(100% + 1em);
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    width: max-content;
}

.Hotspot > * {
    opacity: 1;
    //transform: translateY(-50%);
}